<div class="container">
<h1>تعديل الحالة </h1>
<div class="container">
<%= render 'form' %>
<div class="container"><br>
<%= link_to 'عرض', @user ,  class:"btn default" %> 
<%= link_to 'الرجوع', users_path , class:"btn default" %>
<br><br>
</div></div></div>